.feedback {

   &__wrapper {
      border-radius: 15px;
      overflow: hidden;
      height: 100%;
   }

   &__body {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding: 25px;
      background-color: rgb(255, 255, 255);
   }

   &__text {
      flex: 1 1 auto;
      margin: 0px 0px 16px 0px;
   }

   &__person {
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__logo {
      margin-right: 20px;
   }

   &__name {}
}