.MyDropdown {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   z-index: 20;
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   width: 100%;
}

.MyDropdownButton {
   height: 60px;
   padding: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   z-index: 20;
   cursor: pointer;
   user-select: none;
}

.MyDropdownName {
   
}



.MyDropdownArrow {
   transform: rotate(90deg)
}

.MyDropdownArrowActive {
   transform: rotate(270deg)
}

.MyDropdownConten {
   position: absolute;
   top: 0px;
   left: 0px;
   padding-top: 70px;
   width: 100%;
   z-index: 19;
}

.MyDropdownContenActive {
   display: none;
}

.MyDropdownDeliveryOption {
   padding: 20px;
   &:hover {
      background-color: #F2F4F7;
   }
}

//Calendar

.MyDropdownCalendarDates {
   display: flex;
   width: 100%;
   position: relative;
   z-index: 25;
   @media (max-width: 510px) {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}

.MyDropdownContenCalendar {
   position: absolute;
   z-index: 1;
   top: 0px;
   left: 0px;
   padding-top: 70px;
   width: 100%;
   z-index: 24;
   @media (max-width: 510px) {
      padding-top:172px;
   }
}

.MyDropdownContenCalendarActive {
   display: none;
}

.MyDropdownCalendarOption {
   padding: 20px;
}

.MyDropdownDivider{
   max-width: 40px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   @media (max-width: 510px) {
      height: 40px;
   }
}