.profile {

   &__body {
      position: relative;
   }

   &__popUp {
      display: none;
   }

   &__popUp-active {
      display: block;
      position: absolute;
      top: 40px;
      left: -35px;
      padding: 20px;
      z-index: 49;
   }
}