.rentalBikeCard {

   &__wrapper {
      width: 260px;
      height: 360px;
      padding: 15px 15px 20px 15px;
      background: #FFFFFF;
      border-radius: 15px;
   }

   &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 0px 0px 15px 0px;
   }

   &__size {
      flex: 1 1 auto;
   }

   &__brend {}

   &__image {
      padding: 20px;
      background: #F2F4F7;
      border-radius: 10px;
      margin: 0px 0px 15px 0px;
      & img {
         width: 100%;
         height: 100%;
      }
   }

   &__typeBike {
      align-self: start;
   }

   &__fullName {
      align-self: start;
      margin: 0px 0px 15px 0px;
   }

   &__price {
      align-self: start;
      margin: 0px 0px 15px 0px;
   }

   &__button {
      width: 210px;
      height: 40px;
   }
}