.rental-hours {

   &__wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: start;
   }

   &__body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 10px 0px;
   }

   &__hour {
      
      flex: 1 1 auto;
      margin: 5px 10px;
      max-width: 85px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(255, 255, 255);
      height: 30px;
      padding: 0px 10px;
      font-weight: 500;
      font-size: 14px;
      line-height: 157%;
      border: 1px solid #DDE3EB;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
         border: 1px solid #297FFF;
         background-color: #297FFF;
         color: #fff;
      }
   }
}